@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@keyframes initText {
    0% {
        content: "Initializing system . . ."
    }

    17% {
        content: "Initializing system . . . \00000a Loading core modules . . ."
    }

    27% {
        content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . "
    }

    36% {
        content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . "
    }

    42% {
        content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . ."
    }

    49% {
        content: "Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . ."
    }

    60% {
        content: "Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . ."
    }

    66% {
        content: "Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a"
    }

    78% {
        content: "Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a Executing startup procedures . . . \00000a"
    }

    100% {
        content: "Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a Executing startup procedures . . . \00000a Initializing database connections . . . \00000a"
    }
}

@keyframes opcty {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes counting {
    0% {
        --num: 0
    }

    60% {
        --num: 66
    }

    100% {
        --num: 100
    }
}

@keyframes charging {
    0% {
        width: 0%
    }

    60% {
        width: 66%
    }

    100% {
        width: 100%
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.flex {
    display: flex;
}

.loaderBody {
    background-color: #000;
    color: white;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

.container-loader {
    display: flex;
    height: 100vh;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#loader {
    display: flex;
    flex-direction: column;
    width: 80%;
    animation: opcty 1s ease-in-out;
}
.loading-text {
    font-family: 'Orbitron';
    letter-spacing: 0.3rem;
}

.therefore {
    font-size: 24px;
    animation: rotate 1s linear infinite;
    padding-top: 9.5px;
    height: fit;
}

.loading-number {
    counter-reset: num var(--num);
    margin-left: auto;
    transition: --num 5s;
    animation: counting 3s ease-in-out;
    font-family: 'Orbitron';
    animation-fill-mode: forwards;
}
.loading-number:before {
    font-family: 'Orbitron';
    content: counter(num);
}

#loading-bar-border {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 3px;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    width: 100%;
}
#loading-bar-border .loading-bar {
    height: .6rem;
    margin: 1px 0px;
    background: white;
    animation: charging 3s ease-in-out;
    animation-fill-mode: forwards;

}

#warning {
    margin-top: .5rem;
    font-family: 'Orbitron';
    display: flex;
    height: 1.2rem;
}
#warning .exclamation {
      width: 1rem;
      display: flex;
      justify-content: center;
      background-color: white;
      color: black;
      border-radius: 3px;
  }

#line-cascates {
    margin-left: auto;
    display: flex;
    align-items: end;
    margin-top: 5rem;
}
#line-cascates:after {
    height: 5rem;
    font-size: 12px;
    white-space: pre;
    text-align: end;
    color: #b5b5b5;
    content: "";
    animation: initText 3s ease;
    animation-fill-mode: forwards;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}
/* nav bar */
nav .logo {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* padding-top: 4%;
    padding-left: 7%; */
    margin: auto 0;
    justify-content: center;
}
nav .logo a #logoimg{
    padding-top: 10px;
    width: 100px;
    transition: .5s;
}
.logo p a {
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 30px;
    
}
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    transition: .5s;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav .links li {
    list-style: none;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
/* section one */
.section1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000;
    padding: 0%;
    margin: 0%;
}
.container h2{
    padding: 0;
}
.typewriter h1 {
    line-height: 40px;
    color: #000;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    margin-top: 4px;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 5.5s steps(30, end),
        blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #555555;
    }
}
.container h2{
    color: #36454F;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.btn{
    margin-top: 20px;
}
.contactMeBtn{
 text-decoration: none;
 background-color: #000;
 color: #fff;
 width: 150px;
 padding: 11px;
 border-radius: 5px;
font-family: "Orbitron", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
transition: ease-in-out .3s;
}
.contactMeBtn:hover{
    background-color: #818589;
    border: 1px solid black;
    transition: ease-in-out .3s;
    cursor: url('img/robot.png'), auto;
}
.projectsBtn{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: ease-in-out .3s;
}
.projectsBtn:hover {
    background-color: #818589;
    color: #fff;
    border: 1px solid black;
    transition: ease-in-out .3s;
    cursor: url('img/robot.png'), auto;
}
.btn #projects {
    background-color: #ffffff;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    transition: ease-in-out .3s;
}
.btn #projects{
    text-decoration: none;
    color: #000;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.btn #projects:hover {
    background-color: #818589;
    color: #fff;
    cursor: url('img/robot.png'), auto;
}
.frontEnd{
    margin-top: 30px;
}
/* section two */
.section2{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section2 .sec2-cont1{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 55%;
}
.section2 .sec2-cont2 {
    width: 30%;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .profile-container:hover */
.profile-container {
    width: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: 1s all ease;

}

.profile-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/edmar3.JPG') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}

.profile-container:hover:before {
    opacity: 0;
    transition: all .5s ease;
}


/* Profile Card Wrapper */
.profile-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.profile-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000 0%, #d3d3d3 100%);
    transform: skew(30deg) translateX(125%);
    opacity: 0.9;
    transition: all 0.6s ease;
}

.profile-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #d3d3d3 0%, #000000 100%);
    transform: skew(30deg) translateX(-125%);
    opacity: 0.9;
    transition: all 0.6s ease;
}

.profile-container:hover .profile-wrapper::after {
    transform: skew(30deg) translateX(125%);
    background: linear-gradient(to right, #000000 0%, #d3d3d3 100%);

}

.profile-container:hover .profile-wrapper::before {
    transform: skew(30deg) translateX(-125%);
    background: linear-gradient(to right, #d3d3d3 0%, #000000 100%);
}

/* Profile Card */
.profile-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 10px;
    position: relative;
    opacity: 0;
    transition: all 0.3s ease;
}

.profile-container:hover .profile-card {
    opacity: 1;
    transition: all 0.6s ease;
    transition-delay: 0.2s;
}


/* Profile Picture */
.profile-card img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem 0;
    border: 2px solid transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #000000, #d3d3d3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* border: 2px solid #1999; */
    position: relative;
}

.profile-card h2 {
    line-height: 1.2;
    color: #222;
}

.profile-card h4 {
    line-height: 1.5;
    color: #444;
}

.profile-card p {
    line-height: 1.2;
    color: #333;
    margin: 10px 0;
}

/* Profile Icons */
.profile-card  .icons {
    display: flex;
    color: #333;
    width: 90%;
    justify-content: space-evenly;
    font-size: 1.4rem;
    margin: 5px 0;
    background-color: none;
}

.profile-card .icons i:hover {
    background-image: linear-gradient(to right, grey 0%, grey 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}


.profile-card .socmed {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    padding: 8px 20px;
    margin-top: 1rem;
}
/* Profile Button */
.viewProfBtn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 8px 20px;
    margin-top: 1rem;
    background: #2371ae;
    border-radius: 50px; 
     background: linear-gradient(to right, black 0%, black 100%);
        font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;

}
.viewProfBtn:hover{
    color: #000;
    background-color: #fff;
    background: linear-gradient(to right, #fff 0%, #fff 100%);
    border: 1px solid black;
    padding: 7px 19px;
   
}
/* section 3 */
.section3{
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section3 .sec3-cont1{
    width: 50%;
}
.sec3-cont1 h1{
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
.los {
    display: flex;
    justify-content: space-evenly;
    color: #000000;
    text-align: center;
    width: 100%;

}
.skill img {
    width: 140px;
    padding-bottom: 20px;
}
.progress1 {
    height: 30px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
}

.progress-done1 {
    height: 100%;
    width: 0;
    opacity: 0;
    background: linear-gradient(to left, #36454F, #A9A9A9);
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px -5px #36454F, 0 2px 5px #36454F;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: 1s ease;
}

.progress2 {
    height: 30px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;

}

.progress-done2 {
    height: 100%;
    width: 0;
    opacity: 0;
    background: linear-gradient(to left, #36454F, #A9A9A9);
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px -5px #36454F, 0 2px 5px #36454F;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: 1s ease;
}

.progress3 {
    height: 30px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
}

.progress-done3 {
    height: 100%;
    width: 0;
    opacity: 0;
    background: linear-gradient(to left, #36454F, #A9A9A9);
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px -5px #36454F, 0 2px 5px #36454F;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: 1s ease;

}

.progress4 {
    height: 30px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
}

.progress-done4 {
    height: 100%;
    width: 0;
    opacity: 0;
    background: linear-gradient(to left, #36454F, #A9A9A9);
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px -5px #36454F, 0 2px 5px #36454F;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: 1s ease;
}
/* section 4 */
.section4 {
    height: 80vh;
    width: 100%;
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container3{
    width: 80%;
    margin-top: 5%;
}
.my {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.portfolio {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #000000;
}

.projCont {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.projs {
    background-color: #000000;
    width: 330px;
    height: 180px;
    border-radius: 10px;
    margin-top: 3%;
}
.projs:hover{
    background-color: #555555;
}
/* section five */
.section5{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact button[type="submit"] {
    font: 12px "Orbitron",  sans-serif;
}
#contact {
    background: #636363;
    padding: 25px;
    margin-top: 35%;
    margin-bottom: 13%;
}
#contact h3 {
    color: #000;
    display: block;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 200;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #000;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #d3d3d3;
    color: #000;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}
/* foooter */
.footer{
    background-color: #000;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
}
.footerIcons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sec-foot-container{
    display: flex;
    width: 30%;
    line-height: 10px;
}
.details p{
    font-size: 12px;
    color: #ffff;
    padding-top: 10px;
}
.details p i{
    margin-right: 10px;
}
.backToTop{
    width: 10%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#footerBtn{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    transition: 200ms;
}

#footerBtn svg {
    fill: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

#footerBtn:before {
    content: 'Back to Top';
    position: absolute;
    transform: translateX(-50%) translateY(30px);
    font-size: 15px;
    transition: 200ms;
    color: transparent;
    font-weight: bold;
}

#footerBtn:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
}

#footerBtn:hover::before {
    color: #fff;
}

button:hover svg {
    animation: bounce 2s infinite linear;
}
.footerMobile {
    display: none;
}
@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(-50%)
    }

    25% {
        transform: translateX(-50%) translateY(-65%)
    }

    50% {
        transform: translateX(-50%) translateY(-50%)
    }

    75% {
        transform: translateX(-50%) translateY(-35%)
    }

    100% {
        transform: translateX(-50%) translateY(-50%)
    }
}

#footerBtn:focus {
    outline: none;
}
@media screen and (max-width: 768px) {
    .logo p a {
        display: none;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 90px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(75, 73, 73);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
        padding: 0;
    }

    nav .links a {
        font-size: 20px;
        font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
    }

    nav :checked~.links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    .section1 {
        height: 100vh;
        width: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container h1 {
              font-family: "Orbitron", sans-serif;
              font-optical-sizing: auto;
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              color: #000;
              padding: 0%;
              margin: 0%;
    }
    .container h2{
        padding: 0;
        margin: 0;
    }
        .typewriter h1 {
            line-height: 40px;
            color: #000;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 700;
            overflow: hidden;
            /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange;
            /* The typwriter cursor */
            white-space: nowrap;
            /* Keeps the content on a single line */
            margin: 0 auto;
            /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em;
            /* Adjust as needed */
            animation:
                typing 5.5s steps(30, end),
                blink-caret .5s step-end infinite;
        }
    .section2{
        flex-direction: column;
        height: 100%;
    }
    .section2 .sec2-cont1 {
        border: none;
        padding: 10px;
        width: 100%;
        display: block;
        margin: 0;
        text-align: justify;
        line-height: 30px;
    }
    .section2 .sec2-cont2 {
        width: 100%;
    }
    .container2 {
        margin-top: 20px;
    }
    .section3 {
        height: 100vh;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .section3 .sec3-cont1 {
        width: 100%;
    }
    
    .sec3-cont1 h1 {
        text-align: center;
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 36px;
    }
    
    .projCont {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .los {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .skill {
        padding-top: 20px;
    }
    
    .skill img {
        width: 100px;
        padding-bottom: 10px;
    }
    
    .progress1 {
        height: 30px;
        width: 150px;
        background-color: lightgray;
        border-radius: 5px;
        margin: 0 auto;
    }
    .progress-done1 {
        border-radius: 2.5px;
        font-size: 12px;
    }
    
    .progress2 {
        height: 30px;
        width: 150px;
        background-color: lightgray;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    .progress-done2 {
        border-radius: 5px;
        font-size: 12px;
    
    }
    
    .progress3 {
        height: 30px;
        width: 150px;
        background-color: lightgray;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    .progress-done3 {
        border-radius: 5px;
        font-size: 12px;
    
    }
    
    
    .progress4 {
        height: 30px;
        width: 150px;
        background-color: lightgray;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    .progress-done4 {
        border-radius: 5px;
        font-size: 12px;
    
    }
        .section4 {
            height: 60vh;
            width: 100%;
            display: block;
            align-items: center;
    
        }
    
        .container3 {
            width: 80%;
            margin-top: 10%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
        }
    
        .my {
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 48px;
            color: #000000;
            margin: 0;
            padding: 0;
        }
    
        .portfolio {
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 48px;
            color: #000000;
        }
    
        .projCont {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }
    
        .projs {
            background-color: #000000;
            width: 165px;
            height: 90px;
            border-radius: 10px;
            margin-top: 3%;
        }
        .footer{
            display: none;
            
        }
        footer .footerContainer{
            display: block;
        }
        footer .footerMobile{
            background-color: black;
            height: 40vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        .footerMobile .footerIcons {
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 40px;
            margin-top: 20px;
        }
        .footerMobile .sec-foot-container {
            width: 100%;
            line-height: 10px;
            display: flex;
            justify-content: center;
        }
        .footerMobile .details p {
             font-size: 12px;
             color: #ffff;
             
        }
        .footerMobile .details p i {
                    margin-right: 10px;
        }
        
            .footerMobile .backToTop {
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 20px;
                }
        
                .noselect {
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    -webkit-tap-highlight-color: transparent;
                }
        
             .footerMobile #footerBtn {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background-color: #fff;
                    border: none;
                    border-radius: 50%;
                    transition: 200ms;
                }
        
                        .footerMobile #footerBtn svg {
                    fill: #000;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                }
        
                    .footerMobile #footerBtn:before {
                    content: 'Back to Top';
                    position: absolute;
                    transform: translateX(-50%) translateY(30px);
                    font-size: 15px;
                    transition: 200ms;
                    color: transparent;
                    font-weight: bold;
                }
        
                        .footerMobile #footerBtn:hover {
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
                    width: 40px;
                    height: 40px;
                }
        
                                .footerMobile #footerBtn:hover::before {
                    color: #fff;
                }
        
                button:hover svg {
                    animation: bounce 2s infinite linear;
                }
        
}
